<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Trip Details</title>
</head>
<body>
  <p>{{trip.destination}}</p>
  <p>{{trip.description}}</p>
  <p>{{trip.travelstartdate}}</p>
  <p>{{trip.travelenddate}}</p>
  <h1>Other Users</h1>
  {% for user in trip.users.all %}
  <p>{{user.name}}</p>
  {% endfor %}
  <a href="{% url 'travel:index' %}">Home</a>
  <a href="{% url 'login:logout' %}">Log out</a>
</body>
</html>
